
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.backgroundImg {
    background-image: url('./images/vineyard.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 300vw;
}

.imgNav {
    background-image: url('./images/favicon.ico');
    background-repeat: no-repeat;
    height: 10vw;
    width: 10vw;
}

.navBar {
    display: flex;
    justify-content: space-between;
    font-family: 'Kiona';
    font-weight: bold;
    color: white;
    padding-top: 10vw;   
    position:sticky;
    top:0;
}

.title {
    font-family: 'Kiona', sans-serif;
    color:white;
    text-align: center;
    padding-top: 20vw;
}


@media (min-width: 700px) {

.backgroundImg {
    height: 50vw;
}

.imgNav {
    height: 5vw;
    width: 5vw;
}

.navBar {
    padding-top: 2vw;   
}

.title {
    padding-top: 3vw;
    font-size: 5vw;
}





}

